@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap');

/* fuente para  el sitio */
body {
    font-family: 'Outfit', sans-serif;
}

/* Animación para aparición de elementos */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Se aplica lass tarjetas de productos y al contenido principal */
.card-item,
main {
    animation: fadeIn 0.8s ease-out;
}

/* Efecto de movimiento del mouse  */
button:hover {
    transform: scale(1.05);

    box-shadow: 0 10px 20px rgba(37, 99, 235, 0.3);

}

/* Estilo para las imágenes de los productos */
.card-item img {
    transition: transform 0.5s ease;
}

.card-item:hover img {
    transform: scale(1.1);

}

.card-item {
    overflow: hidden;

    transition: all 0.3s ease;
}

.card-item:hover {
    border-color: #2563eb;

    transform: translateY(-5px);

}